In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [3]:
fundamentals_csv_file = "./fundamentals.csv"
fundamentals_data_df = pd.read_csv(fundamentals_csv_file)
fundamentals_data_df.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [4]:
amazon_prices_csv_file = "./AMZN.csv"
amazon_prices_data_df = pd.read_csv(amazon_prices_csv_file)
amazon_prices_data_df.head()

,date,volume,open,close,high,low,adjclose
0,2019-04-18,2749900,1868.790039,1861.689941,1870.819946,1859.479980,1861.689941
1,2019-04-17,2893500,1872.989990,1864.819946,1876.469971,1860.439941,1864.819946
2,2019-04-16,3044600,1851.349976,1863.040039,1869.770020,1848.000000,1863.040039
3,2019-04-15,3724400,1842.000000,1844.869995,1846.849976,1818.900024,1844.869995
4,2019-04-12,3114400,1848.400024,1843.060059,1851.500000,1841.300049,1843.060059

In [11]:
amazon_by_price_df = amazon_prices_data_df.loc[amazon_prices_data_df['date'] == "2018-01-02"]
amazon_ey_price_df = amazon_prices_data_df.loc[amazon_prices_data_df['date'] == "2018-12-31"]
amazon_by_ey_price_df = amazon_by_price_df.append(amazon_ey_price_df)
amazon_by_ey_price_df

,date,volume,open,close,high,low,adjclose
325,2018-01-02,2694500,1172.000000,1189.010010,1190.00000,1170.51001,1189.010010
75,2018-12-31,6954500,1510.800049,1501.969971,1520.76001,1487.00000,1501.969971

### Create new data with select columns

In [4]:
amazon_prices_data_df = customer_data_df[['id', 'first_name', 'last_name']].copy()
new_customer_data_df.head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Store JSON data into a DataFrame

In [5]:
json_file = "../Resources/customer_location.json"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()

                 address  id  latitude  longitude  us_state
0  043 Mockingbird Place   1   39.1682   -86.5186   Indiana
1       4 Prentice Point   2   41.0938   -85.0707   Indiana
2      46 Derek Junction   3   32.7673   -96.7776     Texas
3  11966 Old Shore Place   4   39.0350   -94.3567  Missouri
4     5 Evergreen Circle   5   40.7808   -73.9772  New York

### Clean DataFrame

In [6]:
new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df.head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York

### Connect to local database

In [15]:
rds_connection_string = "root:password@127.0.0.1/customer_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [16]:
help(engine)

Help on Engine in module sqlalchemy.engine.base object:

class Engine(sqlalchemy.engine.interfaces.Connectable, sqlalchemy.log.Identified)
 |  Engine(pool, dialect, url, logging_name=None, echo=None, proxy=None, execution_options=None)
 |
 |  Connects a :class:`~sqlalchemy.pool.Pool` and
 |  :class:`~sqlalchemy.engine.interfaces.Dialect` together to provide a
 |  source of database connectivity and behavior.
 |
 |  An :class:`.Engine` object is instantiated publicly using the
 |  :func:`~sqlalchemy.create_engine` function.
 |
 |  See also:
 |
 |  :doc:`/core/engines`
 |
 |  :ref:`connections_toplevel`
 |
 |  Method resolution order:
 |      Engine
 |      sqlalchemy.engine.interfaces.Connectable
 |      sqlalchemy.log.Identified
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, pool, dialect, url, logging_name=None, echo=None, proxy=None, execution_options=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  begin(self, close_with_result=False)
 |      Return a context manager delivering a :class:`.Connection`
 |      with a :class:`.Transaction` established.
 |
 |      E.g.::
 |
 |          with engine.begin() as conn:
 |              conn.execute("insert into table (x, y, z) values (1, 2, 3)")
 |              conn.execute("my_special_procedure(5)")
 |
 |      Upon successful operation, the :class:`.Transaction`
 |      is committed.  If an error is raised, the :class:`.Transaction`
 |      is rolled back.
 |
 |      The ``close_with_result`` flag is normally ``False``, and indicates
 |      that the :class:`.Connection` will be closed when the operation
 |      is complete.   When set to ``True``, it indicates the
 |      :class:`.Connection` is in "single use" mode, where the
 |      :class:`.ResultProxy` returned by the first call to
 |      :meth:`.Connection.execute` will close the :class:`.Connection` when
 |      that :class:`.ResultProxy` has exhausted all result rows.
 |
 |      .. versionadded:: 0.7.6
 |
 |      See also:
 |
 |      :meth:`.Engine.connect` - procure a :class:`.Connection` from
 |      an :class:`.Engine`.
 |
 |      :meth:`.Connection.begin` - start a :class:`.Transaction`
 |      for a particular :class:`.Connection`.
 |
 |  connect(self, **kwargs)
 |      Return a new :class:`.Connection` object.
 |
 |      The :class:`.Connection` object is a facade that uses a DBAPI
 |      connection internally in order to communicate with the database.  This
 |      connection is procured from the connection-holding :class:`.Pool`
 |      referenced by this :class:`.Engine`. When the
 |      :meth:`~.Connection.close` method of the :class:`.Connection` object
 |      is called, the underlying DBAPI connection is then returned to the
 |      connection pool, where it may be used again in a subsequent call to
 |      :meth:`~.Engine.connect`.
 |
 |  contextual_connect(self, close_with_result=False, **kwargs)
 |      Return a :class:`.Connection` object which may be part of some
 |      ongoing context.
 |
 |      By default, this method does the same thing as :meth:`.Engine.connect`.
 |      Subclasses of :class:`.Engine` may override this method
 |      to provide contextual behavior.
 |
 |      :param close_with_result: When True, the first :class:`.ResultProxy`
 |        created by the :class:`.Connection` will call the
 |        :meth:`.Connection.close` method of that connection as soon as any
 |        pending result rows are exhausted. This is used to supply the
 |        "connectionless execution" behavior provided by the
 |        :meth:`.Engine.execute` method.
 |
 |  dispose(self)
 |      Dispose of the connection pool used by this :class:`.Engine`.
 |
 |      This has the effect of fully closing all **currently checked in**
 |      database connections.  Connections that are still checked out
 |      will **not** be closed, however they will no longer be associated
 |      with this :class:`.Engine`, so when they are closed individually,
 |      eventually the :class:`.Pool` which they are associated with will
 |      be garbage collected and they will be closed out fully, if
 |      not already closed on checkin.
 |
 |      A new connection pool is created immediately after the old one has
 |      been disposed.   This new pool, like all SQLAlchemy connection pools,
 |      does not make any actual connections to the database until one is
 |      first requested, so as long as the :class:`.Engine` isn't used again,
 |      no new connections will be made.
 |
 |      .. seealso::
 |
 |          :ref:`engine_disposal`
 |
 |  execute(self, statement, *multiparams, **params)
 |      Executes the given construct and returns a :class:`.ResultProxy`.
 |
 |      The arguments are the same as those used by
 |      :meth:`.Connection.execute`.
 |
 |      Here, a :class:`.Connection` is acquired using the
 |      :meth:`~.Engine.contextual_connect` method, and the statement executed
 |      with that connection. The returned :class:`.ResultProxy` is flagged
 |      such that when the :class:`.ResultProxy` is exhausted and its
 |      underlying cursor is closed, the :class:`.Connection` created here
 |      will also be closed, which allows its associated DBAPI connection
 |      resource to be returned to the connection pool.
 |
 |  execution_options(self, **opt)
 |      Return a new :class:`.Engine` that will provide
 |      :class:`.Connection` objects with the given execution options.
 |
 |      The returned :class:`.Engine` remains related to the original
 |      :class:`.Engine` in that it shares the same connection pool and
 |      other state:
 |
 |      * The :class:`.Pool` used by the new :class:`.Engine` is the
 |        same instance.  The :meth:`.Engine.dispose` method will replace
 |        the connection pool instance for the parent engine as well
 |        as this one.
 |      * Event listeners are "cascaded" - meaning, the new :class:`.Engine`
 |        inherits the events of the parent, and new events can be associated
 |        with the new :class:`.Engine` individually.
 |      * The logging configuration and logging_name is copied from the parent
 |        :class:`.Engine`.
 |
 |      The intent of the :meth:`.Engine.execution_options` method is
 |      to implement "sharding" schemes where multiple :class:`.Engine`
 |      objects refer to the same connection pool, but are differentiated
 |      by options that would be consumed by a custom event::
 |
 |          primary_engine = create_engine("mysql://")
 |          shard1 = primary_engine.execution_options(shard_id="shard1")
 |          shard2 = primary_engine.execution_options(shard_id="shard2")
 |
 |      Above, the ``shard1`` engine serves as a factory for
 |      :class:`.Connection` objects that will contain the execution option
 |      ``shard_id=shard1``, and ``shard2`` will produce :class:`.Connection`
 |      objects that contain the execution option ``shard_id=shard2``.
 |
 |      An event handler can consume the above execution option to perform
 |      a schema switch or other operation, given a connection.  Below
 |      we emit a MySQL ``use`` statement to switch databases, at the same
 |      time keeping track of which database we've established using the
 |      :attr:`.Connection.info` dictionary, which gives us a persistent
 |      storage space that follows the DBAPI connection::
 |
 |          from sqlalchemy import event
 |          from sqlalchemy.engine import Engine
 |
 |          shards = {"default": "base", shard_1: "db1", "shard_2": "db2"}
 |
 |          @event.listens_for(Engine, "before_cursor_execute")
 |          def _switch_shard(conn, cursor, stmt,
 |                  params, context, executemany):
 |              shard_id = conn._execution_options.get('shard_id', "default")
 |              current_shard = conn.info.get("current_shard", None)
 |
 |              if current_shard != shard_id:
 |                  cursor.execute("use %s" % shards[shard_id])
 |                  conn.info["current_shard"] = shard_id
 |
 |      .. versionadded:: 0.8
 |
 |      .. seealso::
 |
 |          :meth:`.Connection.execution_options` - update execution options
 |          on a :class:`.Connection` object.
 |
 |          :meth:`.Engine.update_execution_options` - update the execution
 |          options for a given :class:`.Engine` in place.
 |
 |  has_table(self, table_name, schema=None)
 |      Return True if the given backend has a table of the given name.
 |
 |      .. seealso::
 |
 |          :ref:`metadata_reflection_inspector` - detailed schema inspection
 |          using the :class:`.Inspector` interface.
 |
 |          :class:`.quoted_name` - used to pass quoting information along
 |          with a schema identifier.
 |
 |  raw_connection(self, _connection=None)
 |      Return a "raw" DBAPI connection from the connection pool.
 |
 |      The returned object is a proxied version of the DBAPI
 |      connection object used by the underlying driver in use.
 |      The object will have all the same behavior as the real DBAPI
 |      connection, except that its ``close()`` method will result in the
 |      connection being returned to the pool, rather than being closed
 |      for real.
 |
 |      This method provides direct DBAPI connection access for
 |      special situations when the API provided by :class:`.Connection`
 |      is not needed.   When a :class:`.Connection` object is already
 |      present, the DBAPI connection is available using
 |      the :attr:`.Connection.connection` accessor.
 |
 |      .. seealso::
 |
 |          :ref:`dbapi_connections`
 |
 |  run_callable(self, callable_, *args, **kwargs)
 |      Given a callable object or function, execute it, passing
 |      a :class:`.Connection` as the first argument.
 |
 |      The given \*args and \**kwargs are passed subsequent
 |      to the :class:`.Connection` argument.
 |
 |      This function, along with :meth:`.Connection.run_callable`,
 |      allows a function to be run with a :class:`.Connection`
 |      or :class:`.Engine` object without the need to know
 |      which one is being dealt with.
 |
 |  scalar(self, statement, *multiparams, **params)
 |      Executes and returns the first column of the first row.
 |
 |      The underlying cursor is closed after execution.
 |
 |  table_names(self, schema=None, connection=None)
 |      Return a list of all table names available in the database.
 |
 |      :param schema: Optional, retrieve names from a non-default schema.
 |
 |      :param connection: Optional, use a specified connection. Default is
 |        the ``contextual_connect`` for this ``Engine``.
 |
 |  transaction(self, callable_, *args, **kwargs)
 |      Execute the given function within a transaction boundary.
 |
 |      The function is passed a :class:`.Connection` newly procured
 |      from :meth:`.Engine.contextual_connect` as the first argument,
 |      followed by the given \*args and \**kwargs.
 |
 |      e.g.::
 |
 |          def do_something(conn, x, y):
 |              conn.execute("some statement", {'x':x, 'y':y})
 |
 |          engine.transaction(do_something, 5, 10)
 |
 |      The operations inside the function are all invoked within the
 |      context of a single :class:`.Transaction`.
 |      Upon success, the transaction is committed.  If an
 |      exception is raised, the transaction is rolled back
 |      before propagating the exception.
 |
 |      .. note::
 |
 |         The :meth:`.transaction` method is superseded by
 |         the usage of the Python ``with:`` statement, which can
 |         be used with :meth:`.Engine.begin`::
 |
 |             with engine.begin() as conn:
 |                 conn.execute("some statement", {'x':5, 'y':10})
 |
 |      See also:
 |
 |          :meth:`.Engine.begin` - engine-level transactional
 |          context
 |
 |          :meth:`.Connection.transaction` - connection-level version of
 |          :meth:`.Engine.transaction`
 |
 |  update_execution_options(self, **opt)
 |      Update the default execution_options dictionary
 |      of this :class:`.Engine`.
 |
 |      The given keys/values in \**opt are added to the
 |      default execution options that will be used for
 |      all connections.  The initial contents of this dictionary
 |      can be sent via the ``execution_options`` parameter
 |      to :func:`.create_engine`.
 |
 |      .. seealso::
 |
 |          :meth:`.Connection.execution_options`
 |
 |          :meth:`.Engine.execution_options`
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  driver
 |      Driver name of the :class:`~sqlalchemy.engine.interfaces.Dialect`
 |      in use by this :class:`Engine`.
 |
 |  echo
 |      When ``True``, enable log output for this element.
 |
 |      This has the effect of setting the Python logging level for the namespace
 |      of this element's class and object reference.  A value of boolean ``True``
 |      indicates that the loglevel ``logging.INFO`` will be set for the logger,
 |      whereas the string value ``debug`` will set the loglevel to
 |      ``logging.DEBUG``.
 |
 |  name
 |      String name of the :class:`~sqlalchemy.engine.interfaces.Dialect`
 |      in use by this :class:`Engine`.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  schema_for_object = <sqlalchemy.sql.schema._SchemaTranslateMap object>
 |      Provide translation of schema names based on a mapping.
 |
 |      Also provides helpers for producing cache keys and optimized
 |      access when no mapping is present.
 |
 |      Used by the :paramref:`.Connection.execution_options.schema_translate_map`
 |      feature.
 |
 |      .. versionadded:: 1.1
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  create(self, entity, **kwargs)
 |      Emit CREATE statements for the given schema entity.
 |
 |      .. deprecated:: 0.7 Use the create() method on the given schema object directly, i.e. :meth:`.Table.create`, :meth:`.Index.create`, :meth:`.MetaData.create_all`
 |
 |  drop(self, entity, **kwargs)
 |      Emit DROP statements for the given schema entity.
 |
 |      .. deprecated:: 0.7 Use the drop() method on the given schema object directly, i.e. :meth:`.Table.drop`, :meth:`.Index.drop`, :meth:`.MetaData.drop_all`
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  dispatch = <sqlalchemy.event.base.ConnectionEventsDispatch object>
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sqlalchemy.log.Identified:
 |
 |  logging_name = None

### Check for tables

In [17]:
engine.table_names()

['customer_location', 'customer_name']

In [18]:
list(engine.execute('SELECT * FROM customer_location'))

[(1, '043 Mockingbird Place', 'Indiana'),
 (2, '4 Prentice Point', 'Indiana'),
 (3, '46 Derek Junction', 'Texas'),
 (4, '11966 Old Shore Place', 'Missouri'),
 (5, '5 Evergreen Circle', 'New York'),
 (6, '5304 Vidon Drive', 'Texas'),
 (7, '65 Texas Avenue', 'Ohio'),
 (8, '041 Eagle Crest Court', 'Texas'),
 (9, '72402 Annamark Terrace', 'District of Columbia'),
 (10, '7 Sauthoff Circle', 'Arkansas'),
 (11, '52 Hovde Alley', 'Alabama'),
 (12, '31398 Meadow Valley Park', 'Alaska'),
 (13, '62559 Gateway Parkway', 'Montana'),
 (14, '5 Cascade Junction', 'Texas'),
 (15, '1175 Logan Circle', 'New York'),
 (16, '81 Macpherson Court', 'Indiana'),
 (17, '1344 Fairfield Circle', 'Kentucky'),
 (18, '2 Brickson Park Trail', 'Indiana'),
 (19, '76146 Surrey Circle', 'Nevada'),
 (20, '530 Valley Edge Park', 'Colorado'),
 (21, '088 Grayhawk Hill', 'Pennsylvania'),
 (22, '3 Annamark Hill', 'Florida'),
 (23, '740 Starling Hill', 'Alabama'),
 (24, '1622 Emmet Park', 'California'),
 (25, '4 Independence Lane', 'Minnesota'),
 (26, '15 Crest Line Street', 'California'),
 (27, '502 Cardinal Drive', 'Texas'),
 (28, '77 Emmet Terrace', 'Virginia'),
 (29, '51 Superior Parkway', 'Texas'),
 (30, '15282 Cottonwood Lane', 'Florida'),
 (31, '6 Schlimgen Hill', 'Florida'),
 (32, '37616 Fisk Terrace', 'Missouri'),
 (33, '9239 Schmedeman Pass', 'New York'),
 (34, '239 Fallview Terrace', 'New York'),
 (35, '36452 Morningstar Parkway', 'Florida'),
 (36, '76707 Lakewood Gardens Trail', 'Texas'),
 (37, '598 Lotheville Parkway', 'Michigan'),
 (38, '7532 Morning Parkway', 'Florida'),
 (39, '755 Forest Way', 'New York'),
 (40, '05649 Scott Parkway', 'North Carolina'),
 (41, '79 Oak Valley Road', 'Pennsylvania'),
 (42, '797 Marcy Pass', 'Iowa'),
 (43, '8844 Duke Street', 'Tennessee'),
 (44, '3 Pine View Plaza', 'Florida'),
 (45, '0446 Grayhawk Place', 'Arkansas'),
 (46, '96 Memorial Park', 'Texas'),
 (47, '80399 Red Cloud Junction', 'Texas'),
 (48, '72910 American Ash Alley', 'Kansas'),
 (49, '575 Moose Lane', 'District of Columbia'),
 (50, '376 Saint Paul Avenue', 'Louisiana'),
 (51, '07 Colorado Place', 'California'),
 (52, '1 Gina Junction', 'Georgia'),
 (53, '3818 Jana Hill', 'Pennsylvania'),
 (54, '9150 Florence Court', 'California'),
 (55, '19 Eliot Trail', 'Louisiana'),
 (56, '6 Shelley Place', 'Minnesota'),
 (57, '114 Melby Road', 'New York'),
 (58, '975 Clove Trail', 'California'),
 (59, '896 Anzinger Trail', 'Florida'),
 (60, '24 Mockingbird Drive', 'California'),
 (61, '113 Pearson Way', 'California'),
 (62, '66053 Oak Park', 'Ohio'),
 (63, '27664 Emmet Crossing', 'Florida'),
 (64, '33597 Schlimgen Avenue', 'Georgia'),
 (65, '7 Forest Lane', 'California'),
 (66, '2 Jana Center', 'Pennsylvania'),
 (67, '77933 Bonner Avenue', 'Virginia'),
 (68, '681 Del Sol Avenue', 'Pennsylvania'),
 (69, '30814 Westport Alley', 'Florida'),
 (70, '823 3rd Alley', 'South Carolina'),
 (71, '1575 Village Place', 'Florida'),
 (72, '5 Elgar Pass', 'Idaho'),
 (73, '37131 Reindahl Park', 'Colorado'),
 (74, '12 Tomscot Drive', 'California'),
 (75, '9387 Texas Road', 'California'),
 (76, '1 Spenser Plaza', 'Pennsylvania'),
 (77, '1 Mockingbird Terrace', 'New Jersey'),
 (78, '48 Atwood Circle', 'Washington'),
 (79, '26434 Atwood Road', 'Iowa'),
 (80, '0953 Moulton Avenue', 'Alabama'),
 (81, '8595 Marcy Trail', 'Georgia'),
 (82, '489 Stone Corner Crossing', 'Virginia'),
 (83, '7696 Haas Alley', 'Colorado'),
 (84, '9 Badeau Street', 'California'),
 (85, '001 Prairie Rose Point', 'Massachusetts'),
 (86, '8 Menomonie Terrace', 'District of Columbia'),
 (87, '54121 Marquette Point', 'Florida'),
 (88, '67 Eggendart Parkway', 'Washington'),
 (89, '1 Roth Street', 'Alabama'),
 (90, '7 Cardinal Road', 'Pennsylvania'),
 (91, '12 Pine View Alley', 'Tennessee'),
 (92, '2 Sunnyside Way', 'Alabama'),
 (93, '0982 Maywood Crossing', 'Florida'),
 (94, '280 Weeping Birch Crossing', 'Illinois'),
 (95, '5 1st Trail', 'District of Columbia'),
 (96, '8329 Messerschmidt Point', 'Nevada'),
 (97, '8 Goodland Court', 'Georgia'),
 (98, '43754 Lyons Road', 'Florida'),
 (99, '3410 Merchant Pass', 'California'),
 (100, '76 Dwight Drive', 'New York'),
 (101, '49113 Lindbergh Trail', 'Louisiana'),
 (102, '617 Fairview Circle', 'Virginia'),
 (103, '25 Atwood Pass', 'Washington'),
 (104, '0828 Moose Court', 'Connecticut'),
 (105, '6 Canary Street', 'New York'),
 (106, '40 Sunfield Street', 'Michigan'),
 (107, '097 Pawling Parkway', 'Nevada'),
 (108, '5 Manufacturers Junction', 'Connecticut'),
 (109, '15 Pawling Street', 'Texas'),
 (110, '55 Kropf Place', 'District of Columbia'),
 (111, '98551 Welch Center', 'District of Columbia'),
 (112, '67709 Center Crossing', 'Wisconsin'),
 (113, '0 Bunker Hill Center', 'Montana'),
 (114, '751 High Crossing Center', 'Minnesota'),
 (115, '2 Little Fleur Way', 'Arizona'),
 (116, '0 Dawn Avenue', 'Texas'),
 (117, '878 Magdeline Lane', 'California'),
 (118, '4489 Nancy Alley', 'Minnesota'),
 (119, '51836 Oak Pass', 'Colorado'),
 (120, '25277 Mifflin Circle', 'Illinois'),
 (121, '1 West Lane', 'Virginia'),
 (122, '5815 Blaine Plaza', 'Alabama'),
 (123, '96173 8th Park', 'Texas'),
 (124, '899 Fairview Terrace', 'Oklahoma'),
 (125, '67281 Fuller Pass', 'Texas'),
 (126, '91680 Carberry Parkway', 'New York'),
 (127, '49 Eliot Park', 'Arkansas'),
 (128, '33 Graedel Trail', 'California'),
 (129, '074 Sycamore Crossing', 'Minnesota'),
 (130, '41130 Duke Point', 'Florida'),
 (131, '4 Donald Park', 'Michigan'),
 (132, '7926 Dennis Alley', 'Virginia'),
 (133, '54251 Everett Drive', 'Texas'),
 (134, '01833 Welch Crossing', 'Illinois'),
 (135, '55978 Morrow Lane', 'Tennessee'),
 (136, '2983 Loeprich Place', 'Wisconsin'),
 (137, '938 Lien Pass', 'Pennsylvania'),
 (138, '6 Mockingbird Terrace', 'Louisiana'),
 (139, '88938 Graedel Place', 'Georgia'),
 (140, '48 Tennyson Terrace', 'Texas'),
 (141, '80 Monument Parkway', 'Colorado'),
 (142, '5 Parkside Avenue', 'Maryland'),
 (143, '91112 Dexter Terrace', 'Wisconsin'),
 (144, '56552 Sachtjen Park', 'Washington'),
 (145, '297 Gerald Junction', 'Nevada'),
 (146, '1024 Transport Center', 'California'),
 (147, '30275 Waxwing Center', 'Tennessee'),
 (148, '2 Corscot Street', 'Texas'),
 (149, '5044 Canary Center', 'Virginia'),
 (150, '79456 Delaware Avenue', 'Florida'),
 (151, '7998 Meadow Ridge Place', 'Missouri'),
 (152, '21 Lake View Avenue', 'North Carolina'),
 (153, '0 Lake View Lane', 'Ohio'),
 (154, '77 Corben Junction', 'Pennsylvania'),
 (155, '047 Crownhardt Trail', 'Louisiana'),
 (156, '29128 Kenwood Junction', 'New Jersey'),
 (157, '6417 Dayton Park', 'Kansas'),
 (158, '8053 Merrick Pass', 'Minnesota'),
 (159, '5143 Laurel Trail', 'New York'),
 (160, '8516 Delladonna Court', 'District of Columbia'),
 (161, '6599 Miller Terrace', 'New York'),
 (162, '15 John Wall Court', 'New York'),
 (163, '19 Schurz Trail', 'Texas'),
 (164, '41 Summer Ridge Circle', 'California'),
 (165, '5 Hovde Plaza', 'Pennsylvania'),
 (166, '12 Drewry Court', 'Florida'),
 (167, '8179 Russell Parkway', 'Tennessee'),
 (168, '00 Eastwood Street', 'New Jersey'),
 (169, '233 Village Green Plaza', 'Virginia'),
 (170, '5 Dixon Court', 'Indiana'),
 (171, '36585 Derek Hill', 'West Virginia'),
 (172, '047 Golf Course Trail', 'Missouri'),
 (173, '33 New Castle Hill', 'Ohio'),
 (174, '4455 Kingsford Street', 'Massachusetts'),
 (175, '0560 Meadow Vale Terrace', 'South Dakota'),
 (176, '71 Barnett Point', 'District of Columbia'),
 (177, '5 Colorado Terrace', 'Vermont'),
 (178, '7 Oxford Way', 'Illinois'),
 (179, '987 Kingsford Junction', 'Michigan'),
 (180, '8 Bluejay Point', 'Louisiana'),
 (181, '64536 Eliot Crossing', 'West Virginia'),
 (182, '151 Cottonwood Hill', 'Florida'),
 (183, '7738 Memorial Way', 'Alabama'),
 (184, '42 Loeprich Crossing', 'Georgia'),
 (185, '4 Eastwood Pass', 'Colorado'),
 (186, '9762 Pearson Pass', 'Kentucky'),
 (187, '64009 Green Ridge Alley', 'Idaho'),
 (188, '16502 Anderson Court', 'Tennessee'),
 (189, '41 Menomonie Lane', 'California'),
 (190, '76949 Norway Maple Trail', 'Florida'),
 (191, '8 Loeprich Street', 'Kansas'),
 (192, '0889 Roth Avenue', 'Washington'),
 (193, '84 Katie Crossing', 'California'),
 (194, '045 Eagan Junction', 'California'),
 (195, '884 Namekagon Circle', 'California'),
 (196, '297 Merry Park', 'Kansas'),
 (197, '830 Anniversary Road', 'Michigan'),
 (198, '253 Morning Hill', 'Tennessee'),
 (199, '160 Prairieview Center', 'California'),
 (200, '88510 Lien Crossing', 'Texas'),
 (201, '33 Vernon Court', 'Ohio'),
 (202, '5 Monterey Lane', 'New Jersey'),
 (203, '6 Vermont Place', 'Oregon'),
 (204, '527 Jackson Circle', 'District of Columbia'),
 (205, '4 Dennis Junction', 'Arizona'),
 (206, '722 Roth Hill', 'Virginia'),
 (207, '7596 Jenna Park', 'Arizona'),
 (208, '80087 Lighthouse Bay Alley', 'Texas'),
 (209, '62694 Johnson Circle', 'Tennessee'),
 (210, '19 Mallory Plaza', 'Indiana'),
 (211, '5540 Anthes Court', 'Georgia'),
 (212, '59241 Ilene Crossing', 'New York'),
 (213, '735 Cody Court', 'Colorado'),
 (214, '5362 Comanche Pass', 'Florida'),
 (215, '17 Butternut Hill', 'Pennsylvania'),
 (216, '241 Texas Junction', 'Oklahoma'),
 (217, '15529 Comanche Plaza', 'Kentucky'),
 (218, '2244 Victoria Place', 'Arizona'),
 (219, '7 Pankratz Park', 'North Carolina'),
 (220, '5859 Bultman Street', 'Illinois'),
 (221, '6 Cordelia Lane', 'Virginia'),
 (222, '64267 Rusk Drive', 'Florida'),
 (223, '27 Claremont Park', 'Illinois'),
 (224, '14696 Maple Wood Trail', 'Virginia'),
 (225, '7 Division Trail', 'Alabama'),
 (226, '7146 Anderson Circle', 'Florida'),
 (227, '59 Weeping Birch Hill', 'California'),
 (228, '5 Kennedy Crossing', 'Nevada'),
 (229, '81 Prentice Avenue', 'Michigan'),
 (230, '05317 Village Trail', 'Louisiana'),
 (231, '5471 Summer Ridge Park', 'District of Columbia'),
 (232, '939 Rutledge Lane', 'New Jersey'),
 (233, '4 Stuart Pass', 'California'),
 (234, '15684 Johnson Street', 'California'),
 (235, '97579 Welch Street', 'Iowa'),
 (236, '28 Delaware Street', 'Louisiana'),
 (237, '14542 Monica Plaza', 'Texas'),
 (238, '7 Carey Court', 'Connecticut'),
 (239, '5486 Superior Trail', 'California'),
 (240, '7317 Dovetail Crossing', 'Florida'),
 (241, '8 Bayside Way', 'Virginia'),
 (242, '5228 Bluestem Terrace', 'District of Columbia'),
 (243, '0 Havey Terrace', 'Texas'),
 (244, '19557 Loeprich Crossing', 'Minnesota'),
 (245, '3 Porter Plaza', 'District of Columbia'),
 (246, '96 Merrick Pass', 'Oklahoma'),
 (247, '8 Orin Street', 'New York'),
 (248, '25 Northview Trail', 'California'),
 (249, '247 Clyde Gallagher Place', 'Texas'),
 (250, '999 Sherman Drive', 'Minnesota'),
 (251, '17158 Prairie Rose Road', 'Oregon'),
 (252, '41 Helena Junction', 'Pennsylvania'),
 (253, '55835 Green Ridge Park', 'Georgia'),
 (254, '26 Linden Point', 'Tennessee'),
 (255, '86706 Independence Hill', 'Ohio'),
 (256, '54 3rd Place', 'Pennsylvania'),
 (257, '47582 Lyons Avenue', 'California'),
 (258, '7 Little Fleur Way', 'Ohio'),
 (259, '6090 Lillian Road', 'Arizona'),
 (260, '89500 Delladonna Court', 'Georgia'),
 (261, '81763 Hansons Court', 'Washington'),
 (262, '1870 Graceland Place', 'Texas'),
 (263, '14689 Sutteridge Crossing', 'Texas'),
 (264, '3 Starling Parkway', 'Georgia'),
 (265, '5073 American Ash Crossing', 'New Mexico'),
 (266, '05 Dakota Trail', 'Nebraska'),
 (267, '29652 Moulton Center', 'New Mexico'),
 (268, '54664 Tennessee Plaza', 'Texas'),
 (269, '7 Mifflin Crossing', 'District of Columbia'),
 (270, '1634 Oak Valley Crossing', 'Texas'),
 (271, '3 Ridgeview Trail', 'Ohio'),
 (272, '852 Roxbury Park', 'Illinois'),
 (273, '6 Lotheville Way', 'Texas'),
 (274, '461 Talmadge Point', 'Missouri'),
 (275, '5 Fairfield Hill', 'Massachusetts'),
 (276, '677 Monument Center', 'Florida'),
 (277, '3 Blue Bill Park Plaza', 'Texas'),
 (278, '14 Green Circle', 'Nevada'),
 (279, '7896 Florence Center', 'New Jersey'),
 (280, '6550 Bonner Pass', 'Michigan'),
 (281, '720 Farwell Pass', 'Maine'),
 (282, '5924 Kingsford Trail', 'New York'),
 (283, '997 Montana Park', 'Pennsylvania'),
 (284, '31588 Oak Hill', 'Georgia'),
 (285, '0071 School Drive', 'California'),
 (286, '15 Macpherson Parkway', 'Texas'),
 (287, '148 Sullivan Avenue', 'Virginia'),
 (288, '779 Summit Trail', 'Florida'),
 (289, '8482 Dahle Trail', 'Arkansas'),
 (290, '9901 Bayside Trail', 'New Jersey'),
 (291, '172 Northview Point', 'South Carolina'),
 (292, '903 Bultman Center', 'California'),
 (293, '93659 Warbler Avenue', 'Pennsylvania'),
 (294, '34544 Ridgeview Street', 'Ohio'),
 (295, '6908 Forest Run Terrace', 'Tennessee'),
 (296, '26351 Jenna Park', 'Florida'),
 (297, '7 Hermina Drive', 'Georgia'),
 (298, '61621 Goodland Court', 'Connecticut'),
 (299, '5 Carioca Pass', 'Ohio'),
 (300, '23998 Riverside Drive', 'Kentucky'),
 (301, '52341 Elgar Terrace', 'Louisiana'),
 (302, '311 Harper Trail', 'Oklahoma'),
 (303, '4339 Blue Bill Park Lane', 'Tennessee'),
 (304, '9229 School Park', 'California'),
 (305, '3 Holy Cross Drive', 'Arizona'),
 (306, '46186 Arrowood Plaza', 'Florida'),
 (307, '835 Meadow Valley Road', 'Colorado'),
 (308, '17687 Lillian Court', 'Texas'),
 (309, '50558 Texas Way', 'Ohio'),
 (310, '3 1st Avenue', 'Pennsylvania'),
 (311, '62 Pierstorff Pass', 'Massachusetts'),
 (312, '280 Loftsgordon Terrace', 'Florida'),
 (313, '66 Killdeer Center', 'Maryland'),
 (314, '7793 Mallard Street', 'Oklahoma'),
 (315, '17416 Glacier Hill Crossing', 'New Jersey'),
 (316, '52 Spaight Plaza', 'Kentucky'),
 (317, '3 Mitchell Point', 'South Carolina'),
 (318, '19732 Truax Street', 'Arizona'),
 (319, '480 Dawn Street', 'Hawaii'),
 (320, '102 Clemons Place', 'New York'),
 (321, '65 Arizona Crossing', 'California'),
 (322, '38349 Jackson Terrace', 'Utah'),
 (323, '239 Nobel Way', 'Wisconsin'),
 (324, '86 Shasta Alley', 'North Carolina'),
 (325, '0308 Maywood Center', 'Wisconsin'),
 (326, '3 Sunbrook Crossing', 'Kansas'),
 (327, '79 Arkansas Plaza', 'New York'),
 (328, '2 Eastwood Road', 'Georgia'),
 (329, '7 Pennsylvania Alley', 'Florida'),
 (330, '75 Forest Dale Pass', 'Virginia'),
 (331, '991 Pierstorff Trail', 'Oklahoma'),
 (332, '707 Myrtle Plaza', 'Texas'),
 (333, '0727 Northridge Park', 'Illinois'),
 (334, '87218 Sachtjen Street', 'Texas'),
 (335, '4 2nd Way', 'Washington'),
 (336, '82 Meadow Vale Court', 'Virginia'),
 (337, '8074 Maple Wood Parkway', 'Missouri'),
 (338, '6 Sundown Plaza', 'Texas'),
 (339, '09 Sloan Alley', 'Florida'),
 (340, '47 Eastlawn Place', 'California'),
 (341, '90195 Brickson Park Terrace', 'Florida'),
 (342, '742 Vahlen Road', 'Florida'),
 (343, '5 Old Gate Alley', 'Illinois'),
 (344, '2 Washington Place', 'Ohio'),
 (345, '3 Ruskin Hill', 'Minnesota'),
 (346, '390 Autumn Leaf Parkway', 'Colorado'),
 (347, '61980 Acker Avenue', 'Montana'),
 (348, '88 Nobel Crossing', 'California'),
 (349, '35393 Cardinal Center', 'North Carolina'),
 (350, '66215 Columbus Plaza', 'Arkansas'),
 (351, '36 Haas Pass', 'District of Columbia'),
 (352, '649 Marquette Park', 'Ohio'),
 (353, '576 Fairfield Lane', 'Texas'),
 (354, '6 Mayfield Terrace', 'California'),
 (355, '13049 Jana Point', 'Texas'),
 (356, '6 Utah Parkway', 'Maryland'),
 (357, '4 Northland Junction', 'California'),
 (358, '2 Rutledge Drive', 'Kentucky'),
 (359, '78066 Crownhardt Parkway', 'New York'),
 (360, '15068 School Plaza', 'Connecticut'),
 (361, '8685 Armistice Way', 'Illinois'),
 (362, '72914 Center Circle', 'Texas'),
 (363, '14 Rockefeller Terrace', 'Minnesota'),
 (364, '87701 Sullivan Alley', 'Washington'),
 (365, '9 Magdeline Junction', 'Virginia'),
 (366, '7 Milwaukee Road', 'Nebraska'),
 (367, '5 Charing Cross Way', 'Washington'),
 (368, '7 Melrose Crossing', 'Arizona'),
 (369, '2631 Ludington Pass', 'Idaho'),
 (370, '5 Cottonwood Park', 'Ohio'),
 (371, '5 Mandrake Alley', 'New York'),
 (372, '8060 Magdeline Alley', 'Pennsylvania'),
 (373, '79554 Novick Court', 'Indiana'),
 (374, '9 Meadow Valley Pass', 'Alabama'),
 (375, '583 Stephen Trail', 'Missouri'),
 (376, '07881 American Ash Trail', 'North Carolina'),
 (377, '712 Pennsylvania Parkway', 'Illinois'),
 (378, '2 Paget Hill', 'Kansas'),
 (379, '1951 East Center', 'Florida'),
 (380, '76 Fuller Center', 'California'),
 (381, '676 Messerschmidt Center', 'Florida'),
 (382, '60 Crescent Oaks Way', 'Pennsylvania'),
 (383, '726 Sommers Lane', 'New York'),
 (384, '714 Kennedy Avenue', 'Texas'),
 (385, '146 Straubel Avenue', 'New Jersey'),
 (386, '10 Pawling Center', 'Maine'),
 (387, '1084 Florence Lane', 'Texas'),
 (388, '05 Moose Avenue', 'Florida'),
 (389, '1121 Doe Crossing Terrace', 'Ohio'),
 (390, '0 Mitchell Crossing', 'California'),
 (391, '1 Stoughton Crossing', 'Texas'),
 (392, '47936 Continental Place', 'Wisconsin'),
 (393, '5166 Pierstorff Crossing', 'North Carolina'),
 (394, '55062 Graceland Avenue', 'Wisconsin'),
 (395, '1514 Susan Junction', 'Pennsylvania'),
 (396, '9 Northridge Lane', 'Texas'),
 (397, '5944 Utah Point', 'Kentucky'),
 (398, '396 Cascade Park', 'Virginia'),
 (399, '23158 Northridge Alley', 'Tennessee'),
 (400, '156 Hauk Way', 'Alabama'),
 (401, '3 Pepper Wood Avenue', 'Texas'),
 (402, '626 Lakeland Circle', 'Texas'),
 (403, '797 Steensland Hill', 'District of Columbia'),
 (404, '96 Browning Park', 'Georgia'),
 (405, '67926 Rockefeller Park', 'New York'),
 (406, '3832 Cherokee Crossing', 'Virginia'),
 (407, '86 Chinook Hill', 'New York'),
 (408, '243 Schurz Trail', 'Texas'),
 (409, '52 Maple Wood Center', 'Missouri'),
 (410, '10191 Basil Terrace', 'Illinois'),
 (411, '8 Iowa Place', 'Louisiana'),
 (412, '89 Sunbrook Street', 'Ohio'),
 (413, '51 Moland Alley', 'New York'),
 (414, '7860 Vernon Court', 'California'),
 (415, '41 Cambridge Trail', 'Nevada'),
 (416, '673 Grasskamp Hill', 'Illinois'),
 (417, '5 Parkside Junction', 'Florida'),
 (418, '8 Hudson Street', 'Texas'),
 (419, '9516 Melody Street', 'Delaware'),
 (420, '3865 Gerald Center', 'Louisiana'),
 (421, '48 Vernon Alley', 'Georgia'),
 (422, '31408 Eagan Avenue', 'Virginia'),
 (423, '2497 Hanover Terrace', 'Florida'),
 (424, '8 Dovetail Road', 'California'),
 (425, '03 Badeau Pass', 'New York'),
 (426, '53 Derek Street', 'Pennsylvania'),
 (427, '816 Hoffman Place', 'Texas'),
 (428, '52640 Portage Drive', 'Ohio'),
 (429, '51138 Calypso Center', 'Georgia'),
 (430, '06 Garrison Avenue', 'Idaho'),
 (431, '741 Sage Point', 'Massachusetts'),
 (432, '0 Saint Paul Center', 'California'),
 (433, '3962 Oriole Street', 'Florida'),
 (434, '00456 Toban Center', 'New Jersey'),
 (435, '46497 Blackbird Trail', 'Georgia'),
 (436, '3 Kingsford Place', 'Texas'),
 (437, '31 Dovetail Pass', 'South Carolina'),
 (438, '84 Sunbrook Point', 'Arizona'),
 (439, '753 4th Avenue', 'Kentucky'),
 (440, '9126 Melrose Park', 'Florida'),
 (441, '925 Sachs Circle', 'New York'),
 (442, '89 Golf Terrace', 'New Jersey'),
 (443, '8227 Maywood Street', 'Pennsylvania'),
 (444, '2 Maywood Hill', 'California'),
 (445, '17312 Summerview Street', 'California'),
 (446, '51 Norway Maple Pass', 'Maryland'),
 (447, '41661 Sutherland Place', 'Washington'),
 (448, '23 Lake View Plaza', 'Indiana'),
 (449, '150 Golf View Trail', 'California'),
 (450, '0932 Kim Road', 'Washington'),
 (451, '7 Summer Ridge Junction', 'Kansas'),
 (452, '84 Dapin Hill', 'Texas'),
 (453, '4 Clyde Gallagher Point', 'North Carolina'),
 (454, '93114 Twin Pines Place', 'District of Columbia'),
 (455, '581 Alpine Road', 'Minnesota'),
 (456, '06 2nd Road', 'Ohio'),
 (457, '62 Dixon Pass', 'Indiana'),
 (458, '94 Emmet Street', 'Colorado'),
 (459, '4 Ridgeview Hill', 'Florida'),
 (460, '13834 Oriole Terrace', 'Florida'),
 (461, '767 Holmberg Center', 'Georgia'),
 (462, '1 Onsgard Alley', 'West Virginia'),
 (463, '52964 Shelley Plaza', 'Illinois'),
 (464, '70778 Sachs Way', 'Georgia'),
 (465, '8 Briar Crest Parkway', 'Louisiana'),
 (466, '18 Sommers Point', 'New York'),
 (467, '70 Stone Corner Avenue', 'New York'),
 (468, '6378 Kipling Park', 'South Carolina'),
 (469, '831 Towne Point', 'California'),
 (470, '8 Hintze Road', 'California'),
 (471, '3 Hooker Park', 'Indiana'),
 (472, '65 Carey Terrace', 'Maryland'),
 (473, '7816 Amoth Lane', 'Texas'),

### Use pandas to load csv converted DataFrame into database

In [12]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [13]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [10]:
pd.read_sql_query('select * from customer_name', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [14]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York