In [2]:
# dependencies
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# extract walmart data from csv file
wmt_csv_file = "WMT.csv"
walmart_df = pd.read_csv(wmt_csv_file)
walmart_df.head()

,date,volume,open,close,high,low,adjclose
0,2019-04-18,3727800,103.110001,103.180000,103.800003,102.889999,103.180000
1,2019-04-17,3729200,103.000000,103.160004,103.400002,102.410004,103.160004
2,2019-04-16,4828400,102.889999,102.930000,103.389999,102.540001,102.930000
3,2019-04-15,5111900,101.300003,102.430000,102.910004,101.260002,102.430000
4,2019-04-12,5162000,101.000000,101.559998,102.019997,101.000000,101.559998

In [4]:
# extract the first day and last day in 2016

walmart_by_first_price_df = walmart_df.loc[walmart_df['date'] == "2016-01-04"]
walmart_by_last_price_df = walmart_df.loc[walmart_df['date'] == "2016-12-30"]

In [5]:
# combine the data into a new dataframe

walmart_by_ey_price_df = walmart_by_first_price_df.append(walmart_by_last_price_df)
walmart_by_ey_price_df

,date,volume,open,close,high,low,adjclose
828,2016-01-04,11989200,60.500000,61.459999,61.490002,60.360001,56.566395
577,2016-12-30,6889500,69.120003,69.120003,69.430000,68.830002,65.463806

In [7]:
# create sql database connection -  PASSWORD WILL NEED TO BE CHANGED

engine_url = 'mysql://root:MyNewPass@localhost'

company_compare_db = 'company_compare_db'
create_engine(engine_url).execute(f'CREATE DATABASE IF NOT EXISTS {company_compare_db}')

In [8]:
# WILL NEED TO CHANGE PASSWORD

connection_string = f'root:MyNewPass@localhost/{company_compare_db}'
engine = create_engine(f'mysql://{connection_string}')

In [10]:
# TODO: LOAD dataframes into databse
# company_compare_transformed.to_sql(name='ADD TABLE NAME', con=engine, if_exists='append', index=True)